* {
    margin:0;
    box-sizing: border-box;
    color: #757575;
    
}

body {
    font-family: 'Roboto Slab', serif;
}

h1{
    text-decoration-line: underline;}

#main-nav {
    padding: 20px 0;
    text-transform: uppercase;
    background-color: #FFF;
}

#main-nav>.container>.navbar-header>.kolor {
    color: #bca474;
}

#main-menu>ul.nav>li>a.kolor {
    color: #bca474;
}

.icons {
    position: absolute;
    top: 35px;
    right: 80px;
}

.icons>ul>li {
    list-style: none;
}

.icons>ul>li>a {
    color: #bca474;
}

#main-menu>ul.nav>li>a.kolor:hover {
    color: #757575;
}

.icons>ul>li>a:hover {
    color: #757575;
}

/*koniec nawigacji*/


/*sekcja mkijaz brwii*/

section#brwi{
    
    height: 100vh;
    
    position: relative;
    
    }

section#brwi .rama{
    position: absolute;
    height: 50vh;
    margin-top: 200px;
    border: 1px solid #bca474;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    
}

section#brwi .rama > h1{
    color:#bca474;
    padding: 30px 0 0 0;
}

section#brwi .rama > p{
    padding: 50px 40px;
}

/*sekcja ombre*/

#ombre{
    margin-top: 50px;
    height: 70vh;
}

#ombre .ombrefoto{
    background-image: url(../img/ombre.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    margin-top: 15%;
}

#ombre .ombreopis{
    height: 50vh;
    margin-top: 15%;
}

#ombre .ombreopis h1{
    color: #bca474;
    padding: 20px;
    font-size: 2.5em;
}

#ombre .ombreopis p{

    padding: 20px 30px;
    
}

/*sekcja wlos*/

#wlos{
    height: 70vh;
    
}
#wlos #wlosfoto{
    background-image:url(../img/wlos.jpg);
    height: 50vh;
    margin-top: 10%;
}

#wlos .ombreopis{
    height: 50vh;
    margin-top: 10%;
}

#wlos .ombreopis h1{
    color: #bca474;
    padding: 20px;
    font-size: 2.5em;
}

#wlos .ombreopis p{

    padding: 20px 30px;
    
}





