*{
    box-sizing: border-box;
   
}

body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
    
}

#main-nav{
    padding: 20px 0;
    text-transform: uppercase;
    background-color: #FFF;
    
}

#main-nav > .container > .navbar-header > .kolor{
    color:#bca474;
}

#main-menu > ul.nav > li > a.kolor{
   color:#bca474;}

#main-menu >div.container > div.ikonafb > i.fa{
    color:#bca474 ;
    background-color:#fff;
    font-size: 1.5em;
    top: 20px;
    right: 20px;
}



























