* {
    margin:0;
    box-sizing: border-box;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

section{
    padding: 100px 0;
    margin-top: 5%;
}

h1{
   font-family: 'Yellowtail', cursive; 
}

h3{
  font-family: 'Playfair Display', serif;
}

#main-nav {
    padding: 20px 0;
    text-transform: uppercase;
    background-color: #FFF;
}


.icons {
    position: absolute;
    top: 35px;
    right: 80px;
}

.icons>ul>li {
    list-style: none;
}



#main-menu>ul.nav>li>a.kolor:hover {
    color:#FAB89D;
}

.icons>ul>li>a:hover {
    color:#FAB89D;
}

/*slider start*/
header .container-fluid{
    padding:0;
}
 header#main-header div.header-caption{
    background-image: url(../img/salon.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position:relative;
/*     background-attachment: fixed;*/
    
}

header#main-header div.header-caption h1{
    position: absolute;
    left: 50%;
    top: 50%;
    text-transform: uppercase;
}

header#main-header .header-caption span{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 0.7em;
}

header#main-header .header-caption h1{
    font-size: 3.5em;
    color: #fff;
}


/*sekcja nasze usługi*/


#uslugi {
    text-transform: uppercase;
/*    height: 100vh;*/
    padding-top: 10%;
}
#uslugi .row{
    margin-left: 8%;
}

#uslugi .row .foto{
    width: 245px;
    height: 245px;
    padding: 0;
    list-style: none;
    position: relative;
   
}

#uslugi .row .foto .lista{
    position: absolute;
    transform: translateY(25%);
}

#uslugi .row .foto #lista-pazury{
    left: 20%;
    top: 40%;
}

#uslugi .row .foto #lista-usta{
    left: 13%;
    top: 60%;
}

#uslugi .row .foto >img{
    width: 245px;
    height: 245px;
    background-size: cover;
    background-position: center;
}

#uslugi .row #pink{
    background-color:#FAB89D;
    color: #fff;
    
}

#uslugi .row #pink li{
    color: #fff;
    list-style: none;
}

#uslugi .row #black{
    background-color: black;
    color: #fff;
}

#uslugi .row #black li{
    color: #fff;
    list-style: none;
    
}
#uslugi .row-1 #white-brwi ul{
    text-align: center;
}
#uslugi .row-1 #white-brwi li{
    list-style: none;
}
#uslugi #pazury{
    background-color: #FAB89D;
    color: #fff;
    list-style: none;
}

#uslugi #pazury li{
    list-style: none;
    color: #fff;
}



/*SEKCJA CENNIK*/

#cennik{
    
   
    position: relative;
    padding: 0 20%;
    position: relative;
    height: 100vh;
    background-image: url(../img/manicure.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}


#cennik .container-fluid .cennik-mask{
    position: absolute;
    
    width: 60%;
    height: 80%;
    top: 10%;
    background-color: #000;
    
}

#cennik .container-fluid .cennik-mask .row span{
    color: #fff;
    font-family: 'Yellowtail', cursive;
    font-size: 1.5em;
}

#cennik .container-fluid .cennik-mask .row .ceny h2{
color: #fff;
padding: 5% 0 0 8%;}

#cennik .container-fluid .cennik-mask .row .ceny ul > li{
color: #fff;
list-style: none;
padding:0 0 3% 8%;
    
}


/*sekcja opinie klientów
*/

#opinie .opinie-caption{
   padding: 50px 0;
    
}


#opinie .klient .col-sm-4 img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}


#opinie .team-description{
    
    padding: 30px 50px 0 50px;
}
 
/*sekcja o mnie*/
#about{
    padding: 150px 0 100px 0;
}

#about h2{
    font-size: 2.5em;
    
    text-transform: uppercase;
 
    
}

#about p{
    font-size: 1.3em;
    
}


/*kontakt*/




#contact{

    background-color: #FAB89D;
    padding: 70px 0;
    
}

#contact h2, #contact p{
    color: #fff;
    
}
#contact header> h2{
    margin-bottom: 30px;
}

#contact p{
    font-size: 1.5em;
   
}
  
#contact input:not([type='submit']), #contact textarea{
    width: 100%;
    border: 0px solid;
}


#contact input, #contact textarea{
    text-transform: uppercase;
    padding: 7px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}


#contact input:not(:last-child){
    margin-bottom: 30px;
}

#contact input[type='submit']{
    margin-top: 20px;
    background-color:black;
    color: #fff;
    
    
}

#contact input[type='submit']:hover{
    background-color: #FAB89D;;
    color:#fff;
    border: 2px solid #fff;
    font-weight: 700;
}
